@media (min-width: 576px){

/* ESTRUCTURA DE INDEX.HTML */
* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%; }

header {
  background-color: #c6f3f5d0;
  width: 100%;
  height: 15vh; }

main {
  width: 100%;
  height: 100%;}

.Direccionadores {
  margin-top: -20px ; }
.NuestroTrabajo {
  background-color: #f8f86c;
  width: 100%; 
  height: 100% ;}
  .NuestroTrabajo td {
    padding: 5vw; } 

.carrusel {
  width: 100%;
  height: 80vh; }

footer {
  background-color: #97b2cc;
  width: 100%;
  height: 10vh; }
  footer ul {
    margin-left: 77vw;
    margin-bottom: -90px; }
  footer div {
    margin-left: 40vw;
    margin-top: 50px; }

/* ESTRUCTURA DE PORTAFOLIO.HTML */
.EncabezadoPortafolio {
  background-color: #c6f3f5d0; }

.linea {
  border-top: 1px solid #b92525;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto; }

.linea2 {
  border-top: 1px solid #b92525;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto; }


.Carruseles h4{
  background-color: rgb(155, 153, 153);
}
/* ESTRUCTURA DE NOSOTROS.HTML */

.Nosotros {
  font-size: 27px;
  font-weight: 200;
  background-image: url(/img/24187-naranja.jpg); }

.Descripcion {
  width: 100%;
  height: 75vh;}

/* ESTRUCTURA DE CONTACTO.HTML */

/*tengo un monitor ultrawide y estoy intentando que se desplacen los formularios
sin la necesidad de hacerlo responsive , pero el form Consulta no queda igual*/

.formularios{
  width: 100%;
  height: 80vh;
}

.Consulta {
  background-color: #948579;
  height: 100%;
  width: 100%; }

.Contrato {
  background-color: #948579;
  height: 100%;
  width: 100%; 
  margin-left: 10px;}


/* ESTRUCTURA DE DONDE ESTAMOS.HTML */

/*aca me paso lo mismo que en los formularios Consulta pero con la img del mapa*/
.DondeEstamos {
  width: 100%;
  height: 73vh; }
.mapa {
  width: 100%;
  height: 100%; }

/*transformacion*/
.DondeEstamos p {
  transform: translate(67vh, -10vh); }

/*grid*/
#gridAreas {
  display: grid;
  grid-template-columns: 1fr 1fr; }

header {
  grid-area: cabeza;
  padding: 15px; }

footer {
  grid-area: pie;
  padding: 10px; }

main {
  grid-area: cuerpo;
  padding: 10px; }

#cuadros {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.trabajos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px; }

.DondeEstamos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px; }

/*flex*/
.formularios {
  display: inline;
  flex-direction: column;
  flex-wrap: row nowrap; }
}