@media all and (min-width: 720px)
{
/* ESTRUCTURA DE INDEX.HTML */
* {
  margin: 0;
  padding: 0; 
}

body {
  width: 100%;
  height: auto; 
}

header {
  background-color: #bfd9f1;
  width: 100%;
  height: auto; }

main {
  width: 100%;
  height: auto;
  background-image: url(https://fondosmil.com/fondo/23392.jpg);}

.Direccionadores {
  margin-top: -2vh ; }
  
.NuestroTrabajo {
  background-color: #b68f6f;
  width: 100%; 
  height: 100% ;}
  .NuestroTrabajo td {
    padding: 5vw; } 

.carrusel {
  width: 100%;
  height: 80vh; }

footer {
  background-color: #bfd9f1;
  width: 100%;
  height: auto; }
  footer ul {
    margin-left: 80vw;
    margin-bottom: -80px; }
  footer div {
    margin-left: 45vw;
    margin-top: 20px; }
    
  .bi-instagram{
    font-size: 2rem;
    color: rgb(155, 53, 155);}
  .bi-twitter{
    font-size: 2rem;}
  .bi-whatsapp{
    font-size: 2rem;
    color: green;}
  .bi-linkedin{
  font-size: 2rem;
  color: blue;}


/* ESTRUCTURA DE PORTAFOLIO.HTML */

.carousel.slide2{
  padding: 3vh;
}


/* ESTRUCTURA DE NOSOTROS.HTML */

.Nosotros {
  font-size: 2.7vh;
  font-weight: 500;
  }

.Descripcion {
  width: 100%;
  height: 71.3vh;
  background-image: url(/img/fondomain.jpg);
  background-color: #b68f6f;
  background-blend-mode: luminosity;
}

/* ESTRUCTURA DE CONTACTO.HTML */

/*tengo un monitor ultrawide y estoy intentando que se desplacen los formularios
sin la necesidad de hacerlo responsive , pero el form Consulta no queda igual*/

.formularios{
  height: auto;
  width: 100%;
}
.form{width:44vh;height:55vh;padding:10%;background:#b68f6f;border-radius:0.8vh;box-shadow:0 0 4vh -1vh #000;margin:calc(50vh - 22vh) auto;padding:2vh 3vh;max-width:calc(100vw - 4vh);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}

.contratanos {margin:1vh 0;padding-bottom:1vh;width:18vh;color:#17171a;border-bottom:0.3vh solid #17171a}

.input{width:100%;padding:1vh;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:0.2vh solid #bebed2}

.input:focus{border-bottom:0.2vh solid #78788c}

.formrespon:before{content:attr(type);display:block;margin:2.8vh 0 0;font-size:1.4vh;color:#5a5a5a}

button{float:right;padding:0.8vh 1.2vh;margin:0.8vh 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}

.mensaje:hover{background:#78788c;color:#fff
}
.telefono{content:'Hi';position:absolute;bottom:-1.5vh;right:-2vh;background:#50505a;color:#fff;width:32vh;padding:1.6vh 0.4vh 1.6vh 0;border-radius:0.6vh;font-size:1.3vh;box-shadow:1vh 1vh 4vh -1.4vh #000}

.span{margin:0 0.5vh 0 1.5vh}




/* ESTRUCTURA DE DONDE ESTAMOS.HTML */

/*aca me paso lo mismo que en los formularios Consulta pero con la img del mapa*/
.DondeEstamos {
  width: 100%;
  height: 73vh;
  }
.mapa {
  width: 100%;
  height: 100%; }

.yt{
  width: 100%;
  height: 100%;
}
/*transformacion*/
.DondeEstamos p {
  float: right;
  font-weight: 700;}

/*grid*/
#gridAreas {
  display: grid;
  grid-template-columns: 1fr 1fr; }

header {
  grid-area: cabeza;
  padding: 15px; }

footer {
  grid-area: pie;
  padding: 10px; }

main {
  grid-area: cuerpo;
  padding: 10px; }

#cuadros {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.formularios{
  display:grid;
  grid-template-columns: 50% 50%;
}

.trabajos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px; }

.DondeEstamos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px; }

}